@model IEnumerable<WashingCar.DAL.Entities.VehicleDetails>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

<div class="container">
    <main role="main" class="pb-3 p-3">

        <div class="panel-heading text-center">
            <h1 class="text-center rounded-pill div-title">Mis servicios</h1>
            <hr />
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">  </div>
                    <div class="panel-body">

                        <table class="table table-borderless table-light table-hover table-responsive" id="VehicleTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicle.Owner.FullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicle.NumberPlate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicle.Service.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicle.Service.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicle.CreatedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DeliveryDate)
                                    </th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.Vehicle.Owner.Id == ViewBag.UserId) // Replace "UserId" with the appropriate property name
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vehicle.Owner.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vehicle.NumberPlate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vehicle.Service.Name)
                                            </td>
                                             <td>
                                                @Html.DisplayFor(modelItem => item.Vehicle.Service.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Vehicle.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeliveryDate)
                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
